.preview-wrapper {
    position: fixed;
    background-color: $secondary;
    .preview-container {
    overflow: auto;

        padding: 30px;
        .preview-form {
            height: fit-content;
            width: fit-content;
            background-color: $white;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0px 0px 20px #c1c1c1;
        }        
    }
}